{% extends 'base.html' %}

{% block title %}PyZone{% endblock %}

{% block head %}
    <!-- Extra meta tags or stylesheets specific to the homepage can be added here -->
{% endblock %}

{% block content %}
    <div class="container">
        <sl-select label="Select one">
            <sl-option value="option-1">Option 1</sl-option>
            <sl-option value="option-2">Option 2</sl-option>
            <sl-option value="option-3">Option 3</sl-option>
        </sl-select>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Homepage specific scripts can go here -->
{% endblock %}